
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;

}

img{
    max-width: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Fraunces", serif;
}

ul>li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}


span{
    display: block;
}

.hero{
    background: url(../images/mobile/image-header.jpg) no-repeat center center/cover;
    color: hsl(0, 0%, 100%);
}

.mobile-btn{
    width: 20px;
}

.hero{
    height: 400px;
}

.hero-sub{
    text-align: center;
}


.hero-sub img{
    width: 30px;
}

img[alt="logo"]{
    width: 100px;
}

header{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-list-items-desktop{
    display: none;
}

.nav-list-items-mobile{
    display: none;
}

.hero-sub{
    text-align: center;
}

.hero-sub h1{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    padding: 50px 0;
}

.hero-sub img{
    margin-top: 10px;
    width: 50px;
}

.grid-row{
    display: flex;
    flex-direction: column;
}

.row-1{
    flex-direction: column-reverse;
}

.img-description{
    grid-template-columns: 1fr;
    gap: 20px;
    display: grid;
    align-items: center;
    text-align: center;
    padding: 20px;
}



.graphic-design{
    position: relative;
}

.about-design{
    position: absolute;
    bottom: 50px;
    display: grid;
    place-content: center;
    grid-auto-columns: 1fr;
    gap: 20px;
    text-align: center;
    padding: 0 50px;
    color: hsl(167, 40%, 24%) !important;
}

.about-design p{
    color: hsl(198, 62%, 26%) !important;
}

.transform-a {
     width: fit-content;
     margin: 0 auto;
     padding: 0 3px;
     box-shadow: inset 0 -5px 0 hsl(59, 100%, 89%);
    }
    
.stand-out-a{
    width: fit-content;
    margin: 0 auto;
    padding: 0 3px;
    box-shadow: inset 0 -5px 0 hsla(7, 99%, 70%, 0.491);
}

.photography{
    position: relative;
}

.about-photography{
    position: absolute;
    bottom: 50px;
    display: grid;
    place-content: center;
    grid-auto-columns: 1fr;
    gap: 20px;
    text-align: center;
    padding: 0 50px;
    color: hsl(198, 62%, 26%) !important;
}


.about-photography p{
    color: hsl(198, 62%, 26%) !important;
}


.grid-row > div img {
    display: block;
    width: 100%;
    height: auto;
}

.grid-row h2{
    color: hsl(212, 27%, 19%);
}

.grid-row p{
    color: hsl(210, 4%, 67%);
}

.grid-row a{
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 20px;

}

.testimonials{
    text-align: center;
    padding: 50px 20px;
}

.testimonials h4{
    padding: 50px 0;
    font-size: 15px;
    color: hsl(210, 4%, 67%);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.testimonials p{
    color: hsl(213, 9%, 39%);
    width: 290px;
}

.centered-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.flex-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.flex-group img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.about-profile h5{
    font-size: 15px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.about-profile p{
    color: hsl(210, 4%, 67%);
    margin-top: 10px;
    font-size: 1rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery > *{
    display: block;
    margin: 0;
}

.gallery img{
    display: block;
    width: 100%;
    height: auto;
}


.flex-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.flex-group img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.about-profile h5{
    font-size: 20px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.about-profile p{
    color: hsl(210, 4%, 67%);
    margin-top: 10px;
    font-size: 1rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer{
    text-align: center;
    background-color: hsl(168, 34%, 41%);
    padding: 100px 0;
    color:  hsl(167, 40%, 24%);
}

footer .centered-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

footer .socials>img{
    margin-right: 20px;
    width: 25px;
}

footer img[alt="logo"]{
    width: 150px;
}

@media screen and (min-width:768px) {
    .hero{
        height: 700px;
    }

    .hero-sub h1{
        font-size: 30px;
        font-weight: 900;
        padding: 50px 0;
        margin: 50px 0;
    }

    .hero-sub img{
        margin-top: 100px;
    }

    .img-description{
        height: 400px;
        place-content: center;
    }

    .img-description p{
        width: 400px;
        margin: 0 auto;
    }

    .testimonials p{
        width: 500px;
    }

    .flex-group{
        gap: 30px;
    }

    span{
        display: inline;
    }


}

@media screen and (min-width: 1024px) {
   
    .mobile-btn{
        display: none;
    }

    .nav-list-items-desktop{
        display: block;
    }

    .btn{
        color: hsl(212, 27%, 19%);
        background-color: hsl(0, 0%, 100%);
        text-transform: uppercase;
        border: none;
        padding: 10px 15px;
        border-radius: 20px;
        font-weight: 900;
    }
    
    
    .hero{
        background: url(../images/desktop/image-header.jpg) no-repeat center center/cover;
        height: 750px;
        color: hsl(0, 0%, 100%);
    }

    .hero-sub h1{
        font-size: 40px;
        letter-spacing: 4px;
        padding: 50px 0;
    }
    
    .hero-sub img{
        margin-top: 20px;
    }

    
    .grid-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-row > div{
        margin: 0;
    }


    .grid-row > div img {
        display: block;
        width: 100%;
        height: auto;
    }

    
    .centered-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    .testimonials p{
        width: fit-content;
    }

    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }

    .img-description{
        height: auto;
    }
    

    

/* 
header{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul>li{
    color: hsl(0, 0%, 100%);
}

.btn{
    color: hsl(212, 27%, 19%);
    background-color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 900;
}


.hero{
    background: url(../images/desktop/image-header.jpg) no-repeat center center/cover;
    height: 600px;
    color: hsl(0, 0%, 100%);
}

.hero-sub{
    text-align: center;
}

.hero-sub h1{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    padding: 50px 0;
}

.hero-sub img{
    margin-top: 20px;
    width: 50px;
}


.grid-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-row > div{
    margin: 0;
}


.grid-row > div img {
    display: block;
    width: 100%;
    height: auto;
}

.img-description{
    grid-template-columns: 1fr;
    gap: 20px;
    display: grid;
    place-content: center;
    padding: 0 80px;
}

span{
    display: block;
}

.graphic-design{
    position: relative;
}

.about-design{
    position: absolute;
    bottom: 50px;
    display: grid;
    place-content: center;
    grid-auto-columns: 1fr;
    gap: 20px;
    text-align: center;
    padding: 0 50px;
    color: hsl(167, 40%, 24%) !important;
}

.about-design p{
    color: hsl(198, 62%, 26%) !important;
}

.transform-a {
     width: fit-content;
     padding: 0 3px;
     box-shadow: inset 0 -5px 0 hsl(59, 100%, 89%);
    }
    
.stand-out-a{
    width: fit-content;
    padding: 0 3px;
    box-shadow: inset 0 -5px 0 hsla(7, 99%, 70%, 0.491);
}

.photography{
    position: relative;
}

.about-photography{
    position: absolute;
    bottom: 50px;
    display: grid;
    place-content: center;
    grid-auto-columns: 1fr;
    gap: 20px;
    text-align: center;
    padding: 0 50px;
    color: hsl(198, 62%, 26%) !important;
}

.about-photography p{
    color: hsl(198, 62%, 26%) !important;
}

.grid-row h2{
    color: hsl(212, 27%, 19%);
}

.grid-row p{
    color: hsl(210, 4%, 67%);
}

.grid-row a{
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 20px;

}

.testimonials{
    text-align: center;
    padding: 100px 70px;
}

.testimonials h4{
    padding: 50px 0;
    font-size: 30px;
    color: hsl(210, 4%, 67%);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.testimonials p{
    color: hsl(213, 9%, 39%);
}

.centered-container{
    display: flex;
    align-items: center;
    gap: 50px;
}

.flex-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.flex-group img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.about-profile h5{
    font-size: 20px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.about-profile p{
    color: hsl(210, 4%, 67%);
    margin-top: 10px;
    font-size: 1rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer{
    text-align: center;
    background-color: hsl(168, 34%, 41%);
    padding: 100px;
    color:  hsl(167, 40%, 24%);
}

footer .centered-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

footer .socials>img{
    margin-right: 20px;
    width: 25px;
}

footer img[alt="logo"]{
    width: 150px;
}

@media screen and (min-width: 1400px) {
    .hero{
        height: 700px;
    }

    .hero-sub img{
        margin-top: 70px;
    }

    .grid-row p{
        width: 550px;
    }

    .about-design, .about-photography{
        bottom: 100px;
        right: 120px;
    }


}
 */
